# #01 | Python Basics

## Hello, World

In [1]:
print("Hello, World!")

Hello, World!

## Numbers

In [2]:
2+2

4

In [3]:
50 - 4*2

42

In [4]:
4**3 #exponential

64

In [5]:
8/5  # division always returns a float

1.6

In [6]:
17 / 3 #classic division

5.666666666666667

In [7]:
17 // 3 #floor division

5

## Variables
The equal sign (=) is used to assign a value to a variable.

In [8]:
number = 7
print(number)

7

In [9]:
width = 30
height = 5 * 5
print(width * height)

750

In [10]:
text = 'Hello, Python'
print(text)

Hello, Python

## Strings 
Besides numbers, Python can also manipulate strings, which can be expressed in several ways.

In [11]:
print('This is a string')  # single quotes

This is a string

In [12]:
print("This is a string")  #double quotes

This is a string

In [13]:
print('Doesn\'t')  # \ can be used to escape quotes
print("Doesn't")  # or use double quotes instead

Doesn't
Doesn't

In [14]:
print('First Line. \nSecond Line.') # \n newline

First Line.
Second Line.

In [15]:
'Py' 'thon'

'Python'

In [16]:
3 * 'Py' + 'thon'  # Strings can be concatenated

'PyPyPython'

In [17]:
# multiline strings

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Indexing

In [18]:
word = 'Python'
print(word[0]) #index 0
print(word[1])
print(word[5])

P
y
n

In [19]:
print(word[-1]) #last character
print(word[-2])
print(word[-6])

n
o
P

In [27]:
len(word)  #length of a string (built-in function)

6

### Slicing

In [20]:
print(word[0:2]) # 0 included : 2 excluded
print(word[2:5]) # 2 included : 5 excluded

Py
tho

In [21]:
print(word[:2])
print(word[2:])

Py
thon

### Methods

In [22]:
# strip() removes any whitespace from the beginning or the end

a = " Hello, World! "
print(a.strip())

Hello, World!

In [23]:
# lower() returns the string in lower case

a = "Hello, WORLD!"
print(a.lower())

hello, world!

In [24]:
# upper() returns the string in upper case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [25]:
# replace() replaces a string with another string

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [26]:
# split() method splits the string into substrings if it finds instances of the separator

a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

Python has a set of built-in methods that you can use on strings. [Learn More](https://www.w3schools.com/python/python_ref_string.asp)

-----

# Exercícios

1. Faça um Programa que mostre a mensagem "Alo mundo" na tela.
2. Faça um Programa que peça um número e então mostre a mensagem O número informado foi [número].
3. Faça um Programa que peça dois números e imprima a soma.
4. Faça um Programa que peça as 4 notas bimestrais e mostre a média.
5. Faça um Programa que converta metros para centímetros.     
     
     Mais exercícios [aqui](https://wiki.python.org.br/EstruturaSequencial)

In [28]:
# Exercício 1

print("Alô, mundo!")

Alô, mundo!

In [29]:
# Exercício 2

num = input('Informe um número: ') 
print('O número informado foi ' + num)

Informe um número: 7
O número informado foi 7

In [30]:
# Exercício 3

num1 = int(input('Digite o primeiro número: ')) #convert string to int
num2 = int(input('Digite o segundo número: '))
print(num1 + num2)

Digite o primeiro número: 5
Digite o segundo número: 13
18

In [31]:
# Exercício 4

bim1 = float(input('Nota do 1 bimestre: ')) #convert string to float
bim2 = float(input('Nota do 2 bimestre: '))
bim3 = float(input('Nota do 3 bimestre: '))
bim4 = float(input('Nota do 4 bimestre: '))

media = (bim1 + bim2 + bim3 + bim4) / 4

print('Média: %s' % media)

Nota do 1 bimestre: 8
Nota do 2 bimestre: 9.5
Nota do 3 bimestre: 6.75
Nota do 4 bimestre: 10
Média: 8.5625

In [33]:
# Exercício 5 

mt = int(input('Metros:'))
cm = mt * 100
print(f'Centímetros: {cm}')  # f-string

Metros:83
Centímetros: 8300