# #02 | Python Basics

## Lists

In [1]:
lista = [10, 20, 30, 40, 50]
print(lista)

[10, 20, 30, 40, 50]

In [2]:
lista[0]

10

In [3]:
lista[-1]

50

In [4]:
lista [2:]

[30, 40, 50]

In [5]:
lista[-3:]

[30, 40, 50]

In [6]:
lista + [60, 70, 80]  #concatenation

[10, 20, 30, 40, 50, 60, 70, 80]

In [7]:
lista[1] = 15  #replace
print(lista)

[10, 15, 30, 40, 50]

In [14]:
lista.append(60)
lista.append(35 * 2)
print(lista)

[10, 15, 30, 40, 50, 60, 70]

In [16]:
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [18]:
letras[1:3] = ['B', 'C']
print(letras)

['a', 'B', 'C', 'd', 'e', 'f', 'g']

In [19]:
letras[3:6] = []
print(letras)

['a', 'B', 'C', 'g']

In [20]:
len(letras)

4

In [24]:
letras.pop()

'g'

In [25]:
print(letras)

['a', 'B', 'C']

In [21]:
mix = [letras, lista]
print(mix)

[['a', 'B', 'C', 'g'], [10, 15, 30, 40, 50, 60, 70]]

In [22]:
mix[0]

['a', 'B', 'C', 'g']

In [23]:
mix[1][2]

30

## Tuples
tuples are always enclosed in parentheses ()

In [26]:
t = 'um', 2, 'três'
t

('um', 2, 'três')

In [27]:
t2 = t, (1, 2, 3, 'a', 'b', 'c')  # Tuples may be nested
t2

(('um', 2, 'três'), (1, 2, 3, 'a', 'b', 'c'))

In [28]:
t[1] = 'dois' # Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [44]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [45]:
tuple(list)

(1, 2, 3, 4, 5)

## Dictionaries
{key: value}

In [31]:
dict = {'joão': 1, 'maria': 2}
print(dict)

{'joão': 1, 'maria': 2}

In [32]:
dict['josé'] = 3
print(dict)

{'joão': 1, 'maria': 2, 'josé': 3}

In [33]:
del dict['maria']
print(dict)

{'joão': 1, 'josé': 3}

In [38]:
dict['jairo'] = 4
dict['jaime'] = 5
print(dict)

{'joão': 1, 'josé': 3, 'jairo': 4, 'jaime': 5}

In [39]:
list(dict)

['joão', 'josé', 'jairo', 'jaime']

In [40]:
sorted(dict)

['jaime', 'jairo', 'josé', 'joão']

In [41]:
'josé' in dict

True

In [42]:
'julio' in dict

False

## Sets
Sets are lists with no duplicate entries.

In [9]:
a = set(["Jake", "John", "Eric", "John"])
print(a)
b = set(["John", "Jill", "Jill"])
print(b)

{'John', 'Eric', 'Jake'}
{'John', 'Jill'}

In [10]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.intersection(b))
print(b.intersection(a))

{'John'}
{'John'}

In [11]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{'Eric', 'Jill', 'Jake'}
{'Eric', 'Jill', 'Jake'}

In [12]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.difference(b))
print(b.difference(a))

{'Eric', 'Jake'}
{'Jill'}

In [13]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.union(b))

{'John', 'Jill', 'Eric', 'Jake'}